<!-- todo: disable actions while saving/deleting -->
<div class="container-fluid">
  <div class="actions actions-detail">
    <div class="col-xs-12 text-right">
      <button ng-if="!$ctrl.edit" ng-click="$ctrl.startEditing()" class="btn btn-primary">
        {{'notebook.detail.edit' | translate}}
      </button>
      <button ng-if="$ctrl.edit" ng-click="$ctrl.saveEdit()"
              class="btn btn-primary">
        <spinner ng-if="$ctrl.saving"></spinner>
        {{'notebook.detail.save' | translate}}
      </button>
      <button ng-if="$ctrl.edit" ng-click="$ctrl.cancelEditing()" class="btn btn-secondary">
        {{'notebook.detail.cancel' | translate}}
      </button>
      <button ng-if="!$ctrl.edit" ng-click="$ctrl.deleteNote()" class="btn btn-danger">
        <spinner ng-if="$ctrl.deleting"></spinner>
        {{'notebook.detail.delete' | translate}}
      </button>
    </div>
  </div>
</div>

<div class="container-fluid" ng-if="!$ctrl.edit">
  <div class="row" ng-if="!$ctrl.item.$resolved">
    <spinner message="{{'notebook.loading' | translate}}"></spinner>
  </div>
  <div class="row" ng-if="$ctrl.item.$resolved">
    <div class="col-xs-12 col-sm-6"><label>
      {{'notebook.createForm.noteTitle' | translate}}
    </label></div>
    <div class="col-xs-12 col-sm-6">
      {{$ctrl.item.title}}
    </div>
  </div>
</div>

<div class="container-fluid" ng-if="$ctrl.edit">
  <edit-note-form form="$ctrl.form" note="$ctrl.itemClone"></edit-note-form>
</div>
