<div class="modal-header">
    <h3 class="modal-title" id="modal-title">{{'notebook.createForm.title' | translate}}</h3>
</div>
<div class="modal-body" id="modal-body">
  <edit-note-form note="$ctrl.note" form="$ctrl.form"></edit-note-form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="submit" ng-click="$ctrl.ok()" ng-class="{disabled: $ctrl.saving || $ctrl.form.$invalid}">
        <spinner ng-if="$ctrl.saving"></spinner>
        {{'notebook.createForm.okButton' | translate}}
    </button>
    <button class="btn btn-secondary" type="button" ng-click="$ctrl.cancel()">
        {{'notebook.createForm.cancelButton' | translate}}
    </button>
</div>
