<div class="container-fluid">
  <div class="actions">
    <div class="col-sm-6 col-xs-12">
      <create-note-button on-create="$ctrl.onNewNoteCreated()"></create-note-button>
    </div>
    <div class="col-sm-6 col-xs-12 text-right">
      <input type="text" ng-model="$ctrl.search" ng-change="$ctrl.loadNotes()"
             placeholder="{{'notebook.list.searchPlaceholder' | translate}}" ng-model-options="{ debounce: 300 }">
    </div>
  </div>
</div>
<div class="list-group">
  <a ng-repeat="item in $ctrl.items track by item.id" class="list-group-item" ui-sref="notebook.detail({id: item.id})">
    {{item.title}}
  </a>
  <div class="list-group-item" ng-if="!$ctrl.items.$resolved">
    <spinner message="{{'notebook.loading' | translate}}"></spinner>
  </div>
</div>
